In [2]:
# import needed modules
import pandas as pd
import numpy as np
from scipy.stats.mstats import winsorize
from itertools import product
import warnings
warnings.filterwarnings('ignore')

In [3]:
pd.set_option('max_columns', None)
med_df=pd.read_csv('C:/Users/kr529097/Desktop/MSDA/208/task 1/medical_clean.csv')

In [4]:
# change population density areas from stg to int
# create pop_den dict
dict_pop_den = {'Area': {'Urban':1, 'Suburban':2, 'Rural':3}}
med_df.replace(dict_pop_den, inplace = True)

# rename job
med_df.rename(columns={'Job':'Insured_Job'})

,CaseOrder,Customer_id,Interaction,UID,City,State,County,Zip,Lat,Lng,Population,Area,TimeZone,Insured_Job,Children,Age,Income,Marital,Gender,ReAdmis,VitD_levels,Doc_visits,Full_meals_eaten,vitD_supp,Soft_drink,Initial_admin,HighBlood,Stroke,Complication_risk,Overweight,Arthritis,Diabetes,Hyperlipidemia,BackPain,Anxiety,Allergic_rhinitis,Reflux_esophagitis,Asthma,Services,Initial_days,TotalCharge,Additional_charges,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8
0,1,C412403,8cd49b13-f45a-4b47-a2bd-173ffa932c2f,3a83ddb66e2ae73798bdf1d705dc0932,Eva,AL,Morgan,35621,34.34960,-86.72508,2951,2,America/Chicago,"Psychologist, sport and exercise",1,53,86575.93,Divorced,Male,No,19.141466,6,0,0,No,Emergency Admission,Yes,No,Medium,No,Yes,Yes,No,Yes,Yes,Yes,No,Yes,Blood Work,10.585770,3726.702860,17939.403420,3,3,2,2,4,3,3,4
1,2,Z919181,d2450b70-0337-4406-bdbb-bc1037f1734c,176354c5eef714957d486009feabf195,Marianna,FL,Jackson,32446,30.84513,-85.22907,11303,1,America/Chicago,Community development worker,3,51,46805.99,Married,Female,No,18.940352,4,2,1,No,Emergency Admission,Yes,No,High,Yes,No,No,No,No,No,No,Yes,No,Intravenous,15.129562,4193.190458,17612.998120,3,4,3,4,4,4,3,3
2,3,F995323,a2057123-abf5-4a2c-abad-8ffe33512562,e19a0fa00aeda885b8a436757e889bc9,Sioux Falls,SD,Minnehaha,57110,43.54321,-96.63772,17125,2,America/Chicago,Chief Executive Officer,3,53,14370.14,Widowed,Female,No,18.057507,4,1,0,No,Elective Admission,Yes,No,Medium,Yes,No,Yes,No,No,No,No,No,No,Blood Work,4.772177,2434.234222,17505.192460,2,4,4,4,3,4,3,3
3,4,A879973,1dec528d-eb34-4079-adce-0d7a40e82205,cd17d7b6d152cb6f23957346d11c3f07,New Richland,MN,Waseca,56072,43.89744,-93.51479,2162,2,America/Chicago,Early years teacher,0,78,39741.49,Married,Male,No,16.576858,4,1,0,No,Elective Admission,No,Yes,Medium,No,Yes,No,No,No,No,No,Yes,Yes,Blood Work,1.714879,2127.830423,12993.437350,3,5,5,3,4,5,5,5
4,5,C544523,5885f56b-d6da-43a3-8760-83583af94266,d2f0425877b10ed6bb381f3e2579424a,West Point,VA,King William,23181,37.59894,-76.88958,5287,3,America/New_York,Health promotion specialist,1,22,1209.56,Widowed,Female,No,17.439069,5,0,2,Yes,Elective Admission,No,No,Low,No,No,No,Yes,No,No,Yes,No,No,CT Scan,1.254807,2113.073274,3716.525786,2,1,3,3,5,3,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,B863060,a25b594d-0328-486f-a9b9-0567eb0f9723,39184dc28cc038871912ccc4500049e5,Norlina,NC,Warren,27563,36.42886,-78.23716,4762,1,America/New_York,"Programmer, multimedia",2,25,45967.61,Widowed,Male,No,16.980860,4,2,1,No,Emergency Admission,Yes,No,Medium,No,No,No,No,No,Yes,No,Yes,No,Intravenous,51.561220,6850.942000,8927.642000,3,2,2,3,4,3,4,2
9996,9997,P712040,70711574-f7b1-4a17-b15f-48c54564b70f,3cd124ccd43147404292e883bf9ec55c,Milmay,NJ,Atlantic,8340,39.43609,-74.87302,1251,1,America/New_York,"Restaurant manager, fast food",4,87,14983.02,Widowed,Male,Yes,18.177020,5,0,0,No,Elective Admission,Yes,No,Medium,Yes,Yes,Yes,No,No,No,No,No,Yes,CT Scan,68.668240,7741.690000,28507.150000,3,3,4,2,5,3,4,4
9997,9998,R778890,1d79569d-8e0f-4180-a207-d67ee4527d26,41b770aeee97a5b9e7f69c906a8119d7,Southside,TN,Montgomery,37171,36.36655,-87.29988,532,3,America/Chicago,"Psychologist, occupational",3,45,65917.81,Separated,Female,Yes,17.129070,4,2,0,Yes,Elective Admission,Yes,No,High,Yes,No,No,No,No,Yes,Yes,No,No,Intravenous,70.154180,8276.481000,15281.210000,3,3,3,4,4,2,3,2
9998,9999,E344109,f5a68e69-2a60-409b-a92f-ac0847b27db0,2bb491ef5b1beb1fed758cc6885c167a,Quinn,SD,Pennington,57775,44.10354,-102.01590,271,3,America/Denver,Outdoor activities/education manager,3,43,29702.32,Divorced,Male,Yes,19.910430,5,2,1,No,Emergency Admission,No,No,Medium,Yes,No,No,No,Yes,No,No,No,No,Blood Work,63.356900,7644.483000,7781.678000,5,5,3,4,4,3,4,3
9999,10000,I569847,bc482c02-f8c9-4423-99de-3db5e62a18d5,95663a202338000abdf7e09311c2a8a1,Coraopolis,PA,Allegheny,15108,40.49998,-80.19959,41524,1,America/New_York,Sports development officer,8,70,62682.63,Separated,Female,Yes,18.388620,5,0,1,No,Observation Admission,No,No,Low,Yes,Yes,No,Yes,No,No,Yes,No,No,Blood Work,70.850590,7887.553000,11643.190000,4,3,3,2,3,6,4,3

In [5]:
#change gender
gen_dict = {'Gender': {'Male':1, 'Female':2, 'Nonbinary':3}}
med_df.replace(gen_dict, inplace = True)

In [6]:
mar_dict = {'Marital': {'Never Married': 0, 'Married':1, 'Separated':2, 'Divorced':3, 'Widowed':4}}
med_df.replace(mar_dict, inplace=True)
# change all yes/no 
med_df.replace({'Yes':1,
                  'No':0}, inplace=True)
# change complication
comp_dict  = {'Complication_risk': {'High':3, 'Medium':2, 'Low':1}}
med_df.replace(comp_dict, inplace=True)

In [7]:
# rename survey items to accurately reflect questions
med_df.rename(columns = {'Item1':'TimelyAdmin', 'Item2':'TimelyTreat', 'Item3':'TimelyVisit', 'Item4':'Reliability', 'Item5':'Options', 'Item6':'HoursTreat', 'Item7':'StaffAtt', 'Item8':'DocListen'}, inplace=True)

In [8]:
med_df['Children']= winsorize(med_df['Children'], limits=[0.05, 0.05])
med_df['VitD_levels']= winsorize(med_df['VitD_levels'], limits=[0.05, 0.05])
med_df['Full_meals_eaten']= winsorize(med_df['Full_meals_eaten'], limits=[0.05, 0.05])
med_df['Additional_charges']= winsorize(med_df['Additional_charges'], limits=[0.05, 0.05])

In [9]:
med_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 50 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CaseOrder           10000 non-null  int64
 1   Customer_id         10000 non-null  object
 2   Interaction         10000 non-null  object
 3   UID                 10000 non-null  object
 4   City                10000 non-null  object
 5   State               10000 non-null  object
 6   County              10000 non-null  object
 7   Zip                 10000 non-null  int64
 8   Lat                 10000 non-null  float64
 9   Lng                 10000 non-null  float64
 10  Population          10000 non-null  int64
 11  Area                10000 non-null  int64
 12  TimeZone            10000 non-null  object
 13  Job                 10000 non-null  object
 14  Children            10000 non-null  int64
 15  Age                 10000 non-null  int64
 16  Income              10000 non-null  float64
 17  Marital             10000 non-null  int64
 18  Gender              10000 non-null  int64
 19  ReAdmis             10000 non-null  int64
 20  VitD_levels         10000 non-null  float64
 21  Doc_visits          10000 non-null  int64
 22  Full_meals_eaten    10000 non-null  int64
 23  vitD_supp           10000 non-null  int64
 24  Soft_drink          10000 non-null  int64
 25  Initial_admin       10000 non-null  object
 26  HighBlood           10000 non-null  int64
 27  Stroke              10000 non-null  int64
 28  Complication_risk   10000 non-null  int64
 29  Overweight          10000 non-null  int64
 30  Arthritis           10000 non-null  int64
 31  Diabetes            10000 non-null  int64
 32  Hyperlipidemia      10000 non-null  int64
 33  BackPain            10000 non-null  int64
 34  Anxiety             10000 non-null  int64
 35  Allergic_rhinitis   10000 non-null  int64
 36  Reflux_esophagitis  10000 non-null  int64
 37  Asthma              10000 non-null  int64
 38  Services            10000 non-null  object
 39  Initial_days        10000 non-null  float64
 40  TotalCharge         10000 non-null  float64
 41  Additional_charges  10000 non-null  float64
 42  TimelyAdmin         10000 non-null  int64
 43  TimelyTreat         10000 non-null  int64
 44  TimelyVisit         10000 non-null  int64
 45  Reliability         10000 non-null  int64
 46  Options             10000 non-null  int64
 47  HoursTreat          10000 non-null  int64
 48  StaffAtt            10000 non-null  int64
 49  DocListen           10000 non-null  int64
dtypes: float64(7), int64(33), object(10)
memory usage: 3.8+ MB

In [10]:
# change admission type
admin_dict  = {'Initial_admin': {'Observation Admission':3, 'Elective Admission':2, 'Emergency Admission':1}}
med_df.replace(admin_dict, inplace=True)
# change services
services_dict  = {'Services': {'Blood Work':4, 'Intravenous':3, 'CT Scan':2, 'MRI':1}}
med_df.replace(services_dict, inplace=True)

In [11]:
med_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 50 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CaseOrder           10000 non-null  int64
 1   Customer_id         10000 non-null  object
 2   Interaction         10000 non-null  object
 3   UID                 10000 non-null  object
 4   City                10000 non-null  object
 5   State               10000 non-null  object
 6   County              10000 non-null  object
 7   Zip                 10000 non-null  int64
 8   Lat                 10000 non-null  float64
 9   Lng                 10000 non-null  float64
 10  Population          10000 non-null  int64
 11  Area                10000 non-null  int64
 12  TimeZone            10000 non-null  object
 13  Job                 10000 non-null  object
 14  Children            10000 non-null  int64
 15  Age                 10000 non-null  int64
 16  Income              10000 non-null  float64
 17  Marital             10000 non-null  int64
 18  Gender              10000 non-null  int64
 19  ReAdmis             10000 non-null  int64
 20  VitD_levels         10000 non-null  float64
 21  Doc_visits          10000 non-null  int64
 22  Full_meals_eaten    10000 non-null  int64
 23  vitD_supp           10000 non-null  int64
 24  Soft_drink          10000 non-null  int64
 25  Initial_admin       10000 non-null  int64
 26  HighBlood           10000 non-null  int64
 27  Stroke              10000 non-null  int64
 28  Complication_risk   10000 non-null  int64
 29  Overweight          10000 non-null  int64
 30  Arthritis           10000 non-null  int64
 31  Diabetes            10000 non-null  int64
 32  Hyperlipidemia      10000 non-null  int64
 33  BackPain            10000 non-null  int64
 34  Anxiety             10000 non-null  int64
 35  Allergic_rhinitis   10000 non-null  int64
 36  Reflux_esophagitis  10000 non-null  int64
 37  Asthma              10000 non-null  int64
 38  Services            10000 non-null  int64
 39  Initial_days        10000 non-null  float64
 40  TotalCharge         10000 non-null  float64
 41  Additional_charges  10000 non-null  float64
 42  TimelyAdmin         10000 non-null  int64
 43  TimelyTreat         10000 non-null  int64
 44  TimelyVisit         10000 non-null  int64
 45  Reliability         10000 non-null  int64
 46  Options             10000 non-null  int64
 47  HoursTreat          10000 non-null  int64
 48  StaffAtt            10000 non-null  int64
 49  DocListen           10000 non-null  int64
dtypes: float64(7), int64(35), object(8)
memory usage: 3.8+ MB

In [12]:
med_df.to_csv(r'C:/Users/kr529097/Desktop/MSDA/med_prepD210.csv')